.product-section{
    height: 100%;
    text-align: center;
    padding: 5px 0 0 0;
}

.info-box{
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}

.psEven{
    background-color: white;
}
.psOdd{
    background-color: #f7f7f7;
}
