
.product-btn{
    width: 100%;
    height: 50px;
    font-size: x-large;
    border-radius: 0;
    color: white;
}
.product-btn:after{
    color: white !important;
}

.product-section{
    height: 100%;
    text-align: center;
    padding: 5px 0 0 0;
}

.product-section-selected{
    background-color: rgba(150, 209, 255, 0.67);
}

.info-box{
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
}

.region-btn{
    width: 95%;
    height: 75px;
    font-size: x-large;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}

.region-btn:after{
    color: white !important;
}

.region-btn:focus{
    outline: 0;
}

.region-section{
    border-radius: 10px;
    height: 250px;
    text-align: center;
    padding: 5px 0 0 0;
    margin: 10px 0 0 0;
}
.region-section-selected{

}

.flag{
    max-height: 300px;
    max-width: 160px;
}

.united_states{
    border: solid rgba(91, 192, 222, 0.37) 2px;
}

.europe{
    border: solid #2f0085 2px;
}

.australia{
    border: solid #09691e 2px;
}

.canada{
    border: solid #d9534f 2px;
}