.top-logo{
    height: 200px;
    background-color: lightgrey;
    padding: 25px;
}

.ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top:-200px;
    left: 200px;
}

.ui-window{
    transition: all linear 0.1s;
    position: relative;
}