.top-logo{
    height: 200px;
    width: 100%;
    background-color: grey;
    /*background-image: url('../imgs/main-building.png');*/
    padding: 25px;
}

.ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top:-200px;
    left: 200px;
}

.ui-window.ng-enter {
    transition:0.3s linear all;
    transform:translateY(25px);
    opacity:0;
}
.ui-window.ng-enter.ng-enter-active {
    transform:translateY(0);
    opacity:1;
}
