<md-dialog aria-label="" style="width: 100%; max-width: 800px">
    <form>
        <md-toolbar style="background-color: grey">
            <div class="md-toolbar-tools">
                <img style="height: 100%" src="imgs/verisk_small.png">
                <h2>Add New Company</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="md">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content class="md-padding">
                <h1 class="md-display-3">New Company</h1>
                <md-subheader>Please Fill Out All Fields Marked With *</md-subheader>
                <br>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Name *</label>
                        <input ng-model="name"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>DBA</label>
                        <input ng-model="dba"/>
                    </md-input-container>
                </div>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Contact Phone Number *</label>
                        <input ng-model="phone"/>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Company Type *</label>
                        <input ng-model="type"/>
                    </md-input-container>
                </div>
                <md-subheader>Please enter all email addresses you wish to recieve notifications for this company</md-subheader>
                <br>


                <md-list ng-cloak>
                    <md-list-item>
                        <md-input-container class="md-block" flex-gt-xs style="margin: 20px 0 0 0;">
                            <label>Email Address</label>
                            <input ng-model="newEmail"/>
                        </md-input-container>
                        <md-button class="md-raised md-accent md-secondary" ng-click="addEmail()">
                            Add
                        </md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item ng-repeat="email in emails">
                        <h4>{{email}}</h4>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>-->
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-click="addCompany()" style="margin-right:20px;">
                Confirm
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>