<md-dialog aria-label="" style="width: 100%; max-width: 800px">
    <form>
        <md-toolbar style="background-color: grey">
            <div class="md-toolbar-tools">
                <img style="height: 100%" src="imgs/verisk_small.png">
                <h2>Ride-Along Confirmation</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-set="md">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content class="md-padding">
                <h1 class="md-display-3">Confirm Ride-Along</h1>
                <md-list ng-cloak>
                    <md-subheader>Event Details</md-subheader>
                    <md-list-item>
                        <md-button class="md-icon-button">
                            <md-tooltip md-direction="top">
                                Region the ride-along will be available in
                            </md-tooltip>
                            <md-icon md-font-set="md">place</md-icon>
                        </md-button>
                        <h3>{{ra.county|regionToNormal}}, {{ra.province|regionToNormal}} - {{ra.region|regionToNormal}}</h3>
                        <md-button class="md-secondary md-primary">Edit</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-icon-button">
                            <md-tooltip md-direction="top">
                                Date the ride-along will be available
                            </md-tooltip>
                            <md-icon md-font-set="md">date_range</md-icon>
                        </md-button>
                        <h3>{{ra.startDate|longDate}} to {{ra.endDate|longDate}}</h3>
                        <md-button class="md-secondary md-primary">Edit</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-subheader>Your Contact Info</md-subheader>
                    <md-list-item>
                        <md-button class="md-icon-button">
                            <md-tooltip md-direction="top">
                                Your name
                            </md-tooltip>
                            <md-icon md-font-set="md">account_circle</md-icon>
                        </md-button>
                        <h3 ng-if="!edits.name">{{ra.name}}</h3>
                        <md-input-container class="md-block fold" ng-if="edits.name" flex-gt-xs style="margin: 0 !important; padding-top: 15px;">
                            <input class="fold" ng-model="ra.name" aria-label="name" style="height: 100%; font-size: x-large">
                        </md-input-container>
                        <md-button ng-if="!edits.name" class="md-secondary md-primary" ng-click="editField('name')">Edit</md-button>
                        <md-button ng-if="edits.name" class="md-secondary md-accent" ng-click="editField('name')">Accept</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-icon-button">
                            <md-tooltip md-direction="top">
                                Your department
                            </md-tooltip>
                            <md-icon md-font-set="md">business</md-icon>
                        </md-button>
                        <h3>{{ra.department}}</h3>
                        <md-button class="md-secondary md-primary">Edit</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-icon-button">
                            <md-tooltip md-direction="top">
                                Your email address
                            </md-tooltip>
                            <md-icon md-font-set="md">email</md-icon>
                        </md-button>
                        <h3>{{ra.email}}</h3>
                        <md-button class="md-secondary md-primary">Edit</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-icon-button">
                            <md-tooltip md-direction="top">
                                Your phone number
                            </md-tooltip>
                            <md-icon md-font-set="md">phone</md-icon>
                        </md-button>
                        <h3>{{ra.phone}}</h3>
                        <md-button class="md-secondary md-primary">Edit</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button class="md-primary md-raised" ng-click="confirm($event)" style="margin-right:20px;" ng-disabled="edits.name||edits.region||edits.department||edits.phone||edits.province||edits.email||edits.county">
                Confirm
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>