<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Manager</title>
</head>
<body>
<md-content style="background-color: transparent; height: 100%">
    <div class="data-holder">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Companies</span>
                </h3>
                <span flex></span>
                <input type="text" style="color: black"/>
                <md-button>
                    Filter
                </md-button>
                <md-button class="md-accent md-raised">
                    <md-icon md-font-set="md">
                        add_circle_outline
                    </md-icon>
                    Add New
                </md-button>
            </div>
        </md-toolbar>
        <md-list flex style="overflow-y: scroll; height: 800px">

        </md-list>
        <div class="list-footer" layout="row">

        </div>
    </div>
</md-content>
</body>
</html>