<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Manager</title>
</head>
<body>
<md-content style="background-color: transparent; height: 100%">
    <div class="data-holder">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Companies</span>
                </h3>
                <span flex></span>
                <input type="text" style="color: black" ng-model="cc.filterText"/>
                <md-button>
                    Filter
                </md-button>
                <md-button class="md-accent md-raised" ng-click="cc.showTabDialog($event)">
                    <md-icon md-font-set="md">
                        add_circle_outline
                    </md-icon>
                    Add New
                </md-button>
            </div>
        </md-toolbar>
        <div style="height: 800px; padding-top: 200px; text-align: center" ng-if="cc.waitingForResponse==true">
            <h1>Loading Companies......</h1>
            <br>
            <md-progress-circular class="md-accent m" md-diameter="60" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div style="height: 800px; padding-top: 200px;" ng-if="cc.companies.length==0&&cc.waitingForResponse==false">
            <h3>No Companies Exist In The DataBase</h3>
        </div>
        <md-list flex style="overflow-y: scroll; height: 800px;" ng-if="cc.companies.length!==0&&cc.waitingForResponse==false">
            <md-list-item class="md-3-line fold" ng-if="cc.companies.length>0" ng-repeat="company in cc.companies | filter:cc.filterText" ng-click="cc.openCODetails(company)">
                <div class="md-list-item-text" layout="column">
                    <h2>{{company.name}}</h2>
                    <md-divider></md-divider>
                </div>
                <span flex></span>
                <div layout="row">
                    <md-button class="md-accent md-fab">
                        <md-tooltip md-direction="top">
                            Notification Options
                        </md-tooltip>
                        <md-icon md-font-set="md" class="">
                            email
                        </md-icon>
                    </md-button>
                    <md-menu aria-label="Ride Along Options" md-position-mode="target-left target" style="padding: 0">
                        <md-button aria-label="menu" class="md-fab md-primary" ng-click="$mdOpenMenu()">
                            <md-tooltip md-direction="top">
                                Options
                            </md-tooltip>
                            <md-icon md-font-set="md" class="">
                                build
                            </md-icon>
                        </md-button>
                        <md-menu-content width="5">
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                        mode_edit
                                    </md-icon>
                                    Edit Info
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="cc.removeCo(company)">
                                    <md-icon md-font-set="md">
                                        delete_forever
                                    </md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-list-item>
        </md-list>
        <div class="list-footer" layout="row">

        </div>
    </div>
</md-content>
</body>
</html>