<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Schedules</title>
</head>
<body>
<md-content style="background-color: transparent; height: 100%">
    <div class="data-holder">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Events</span>
                </h3>
                <span flex></span>
                <input type="text" style="color: black" ng-model="ec.searchText"/>
                <md-menu aria-label="Filter Ride-Alongs" md-position-mode="target-right target" style="padding: 0">
                    <md-button ng-click="$mdOpenMenu()">
                        <md-tooltip md-direction="top">
                            Filter Ride-Alonga
                        </md-tooltip>
                        Filter
                    </md-button>
                    <md-menu-content width="5">
                        <md-menu-item>
                            <md-button ng-click="ec.sortEvents('all')">
                                <md-icon md-font-set="md" ng-if="ec.filterByStatus=='all'">
                                    check
                                </md-icon>
                                All Ride-Alongs
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ec.sortEvents('OPEN')">
                                <md-icon md-font-set="md" ng-if="ec.filterByStatus=='OPEN'">
                                    check
                                </md-icon>
                                Open Ride-Alongs
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ec.sortEvents('CANCELLED')">
                                <md-icon md-font-set="md" ng-if="ec.filterByStatus=='CANCELLED'">
                                    check
                                </md-icon>
                                Cancelled Ride-Alongs
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="ec.sortEvents('ACCEPTED')">
                                <md-icon md-font-set="md" ng-if="ec.filterByStatus=='ACCEPTED'">
                                    check
                                </md-icon>
                                Accepted Ride-Alongs
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-button class="md-accent md-raised" href="#/eventCreator">
                    <md-icon md-font-set="md">
                        add_circle_outline
                    </md-icon>
                    Add New
                </md-button>
            </div>
        </md-toolbar>
        <div style="height: 800px; padding-top: 200px; text-align: center" ng-if="ec.waitingForResponse==true">
            <h1>Loading Ride Alongs......</h1>
            <br>
            <md-progress-circular class="md-accent m" md-diameter="60" md-mode="indeterminate"></md-progress-circular>
        </div>
        <div style="height: 800px; padding-top: 200px;" ng-if="ec.rideAlongs.length==0&&ec.waitingForResponse==false">
            <h3>No Ride-Alongs Exist In The Database</h3>
        </div>
        <md-list flex ng-if="ec.rideAlongs.length!==0&&ec.waitingForResponse==false" style="overflow-y: scroll; height: 800px">
            <md-list-item class="md-3-line fold" ng-repeat="item in ec.rideAlongs | filter:ec.searchText" ng-click="ec.showRADetails($event, $index, item)">
                <div class="md-list-item-text" layout="column">
                    <h2>{{item.name}}</h2>
                    <h3 ng-if="item.status=='UNAPPROVED'" style="color: #ffc520">PENDING APPROVAL</h3>
                    <h3 ng-if="item.status=='OPEN'" style="color: dodgerblue">OPEN</h3>
                    <h3 ng-if="item.status=='ACCEPTED'" style="color: forestgreen">ACCEPTED</h3>
                    <h3 ng-if="item.status=='CANCELLED'" style="color: red">CANCELLED</h3>
                    <h3>{{item.startDate|longDate}} to {{item.endDate|longDate}}</h3>
                    <h3>{{ item.county|regionToNormal}}, {{ item.province|regionToNormal }} - {{ item.region|regionToNormal }}</h3>
                    <!--<h4></h4>-->
                    <h2></h2>
                    <md-divider></md-divider>
                </div>
                <span flex></span>
                <div layout="row">
                    <md-menu aria-label="Notification Options" md-position-mode="target-right target" style="padding: 0">
                        <md-button ng-click="$mdOpenMenu()" class="md-accent md-fab">
                            <md-tooltip md-direction="top">
                                Notification Options
                            </md-tooltip>
                            <md-icon md-font-set="md" class="">
                                email
                            </md-icon>
                        </md-button>
                        <md-menu-content width="5">
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                        email
                                    </md-icon>
                                    Resend Notifications
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                        add_circle
                                    </md-icon>
                                    Invite Specific Company
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu aria-label="Ride Along Options" md-position-mode="target-left target" style="padding: 0">
                        <md-button aria-label="menu" class="md-fab md-primary" ng-click="$mdOpenMenu()">
                            <md-tooltip md-direction="top">
                                Options
                            </md-tooltip>
                            <md-icon md-font-set="md" class="">
                                build
                            </md-icon>
                        </md-button>
                        <md-menu-content width="5">
                            <md-menu-item ng-if="item.status!=='OPEN'" class="fold">
                                <md-button ng-click="ec.changeStatus($index, 'OPEN')">
                                    <md-icon md-font-set="md">
                                        check
                                    </md-icon>
                                    Open
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="item.status!=='CANCELLED'" class="fold">
                                <md-button ng-click="ec.changeStatus($index, 'CANCELLED')">
                                    <md-icon md-font-set="md">
                                        cancel
                                    </md-icon>
                                    Cancel
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                        mode_edit
                                    </md-icon>
                                    Edit Info
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                    date_range
                                    </md-icon>
                                    Request Rescheduling
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ec.removeRA($index, $event)">
                                    <md-icon md-font-set="md">
                                        delete_forever
                                    </md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-list-item>
        </md-list>
        <div class="list-footer" layout="row">
            <!--<h4 style="margin: 0 15px 0 15px" ng-repeat="(status, count) in ec.counts">{{status + ': ' + count + '   '}}</h4>-->
        </div>
    </div>
</md-content>

</body>
</html>