<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Schedules</title>
</head>
<body>
<md-content style="background-color: transparent">
    <div style="max-width: 1000px; width: 100%; height: 100%; text-align: center; margin: 10px; background-color: rgba(255, 255, 255, .9);">
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Events</span>
                </h3>
                <span flex></span>
                <md-button>Filter</md-button>
            </div>
        </md-toolbar>
        <div ng-if="ec.rideAlongs.length==0">
            <h2 style="padding: 25px 0 50px 0">No Ride-Alongs</h2>
        </div>
        <md-list flex ng-if="ec.rideAlongs.length!==0">
            <md-list-item class="md-3-line" ng-repeat="item in ec.rideAlongs" ng-click="ec.showRADetails($event, item)">
                <div class="md-list-item-text" layout="column">
                    <h2>{{item.name}}</h2>
                    <h3 ng-if="item.open" style="color: green">OPEN</h3><h3 ng-if="!item.open" style="color: red">ACCEPTED</h3>
                    <h3>{{item.startDate|longDate}} to {{item.endDate|longDate}}</h3>
                    <h3>{{ item.county|regionToNormal}}, {{ item.province|regionToNormal }}</h3>
                    <h4>{{ item.region|regionToNormal }}</h4>
                    <h2></h2>
                    <md-divider ng-if="!$last"></md-divider>
                </div>
                <span flex></span>
                <div layout="row">
                    <md-button class="md-accent md-fab" style="height: 100%">
                        <md-tooltip md-direction="top">
                            Send an email to {{item.name}}
                        </md-tooltip>
                        <md-icon md-font-set="md" class="">
                            email
                        </md-icon>
                    </md-button>
                    <md-menu aria-label="Open phone interactions menu" md-position-mode="target-right target" style="padding: 0">
                        <md-button aria-label="menu" class="md-fab md-primary" ng-click="$mdOpenMenu()">
                            <md-tooltip md-direction="top">
                                Options
                            </md-tooltip>
                            <md-icon md-font-set="md" class="">
                                build
                            </md-icon>
                        </md-button>
                        <md-menu-content width="5">
                            <md-menu-item>
                                <md-button ng-click="ec.removeRA($index)">
                                    Delete
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Edit Info
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    Request Rescheduling
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-list-item>
            <br>
        </md-list>

    </div>
</md-content>

</body>
</html>