<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Schedules</title>
</head>
<body>
<md-content style="background-color: transparent; height: 100%">
    <div class="data-holder">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    <span>Events</span>
                </h3>
                <span flex></span>
                <input type="text" style="color: black" ng-model="ec.searchText"/>
                <md-button>Filter</md-button>
            </div>
        </md-toolbar>
        <div style="height: 800px; padding-top: 200px; text-align: center" ng-if="ec.waitingForResponse==true">
            <h1>Loading Ride Alongs......</h1>
            <br>
            <md-progress-circular class="md-accent m" md-diameter="60"></md-progress-circular>
        </div>
        <div ng-if="ec.rideAlongs.length==0&&ec.waitingForResponse==false">
            <h2 style="padding: 25px 0 50px 0">No Ride-Alongs</h2>
        </div>
        <md-list flex ng-if="ec.rideAlongs.length!==0&&ec.waitingForResponse==false" style="overflow-y: scroll; height: 800px">
            <md-list-item class="md-3-line fold" ng-repeat="item in ec.rideAlongs | filter:ec.searchText" ng-click="ec.showRADetails($event, $index, item)">
                <div class="md-list-item-text" layout="column">
                    <h2>{{item.name}}</h2>
                    <h3 ng-if="item.status=='UNAPPROVED'" style="color: #ffc520">PENDING APPROVAL</h3>
                    <h3 ng-if="item.status=='OPEN'" style="color: dodgerblue">OPEN</h3>
                    <h3 ng-if="item.status=='ACCEPTED'" style="color: forestgreen">ACCEPTED</h3>
                    <h3 ng-if="item.status=='CANCELLED'" style="color: red">CANCELLED</h3>
                    <h3>{{item.startDate|longDate}} to {{item.endDate|longDate}}</h3>
                    <h3>{{ item.county|regionToNormal}}, {{ item.province|regionToNormal }} - {{ item.region|regionToNormal }}</h3>
                    <!--<h4></h4>-->
                    <h2></h2>
                    <md-divider></md-divider>
                </div>
                <span flex></span>
                <div layout="row">
                    <md-button class="md-accent md-fab" style="height: 100%">
                        <md-tooltip md-direction="top">
                            Send an email to {{item.name}}
                        </md-tooltip>
                        <md-icon md-font-set="md" class="">
                            email
                        </md-icon>
                    </md-button>
                    <md-menu aria-label="Open phone interactions menu" md-position-mode="target-right target" style="padding: 0">
                        <md-button aria-label="menu" class="md-fab md-primary" ng-click="$mdOpenMenu()">
                            <md-tooltip md-direction="top">
                                Options
                            </md-tooltip>
                            <md-icon md-font-set="md" class="">
                                build
                            </md-icon>
                        </md-button>
                        <md-menu-content width="5">
                            <md-menu-item ng-if="item.status!=='OPEN'" class="fold">
                                <md-button ng-click="ec.changeStatus($index, 'OPEN')">
                                    <md-icon md-font-set="md">
                                        check
                                    </md-icon>
                                    Approve
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="item.status!=='CANCELLED'" class="fold">
                                <md-button ng-click="ec.changeStatus($index, 'CANCELLED')">
                                    <md-icon md-font-set="md">
                                        cancel
                                    </md-icon>
                                    Cancel
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                        mode_edit
                                    </md-icon>
                                    Edit Info
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon md-font-set="md">
                                        date_range
                                    </md-icon>
                                    Request Rescheduling
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ec.removeRA($index, $event)">
                                    <md-icon md-font-set="md">
                                        delete_forever
                                    </md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-list-item>
        </md-list>
        <div style="height: 50px; width: 100%; padding: 10px 15px 5px 15px; background-color: rgba(150, 159, 153, 0.31)" layout="row">
            <h4 style="margin: 0 15px 0 15px" ng-repeat="(status, count) in ec.counts">{{status + ': ' + count + '   '}}</h4>
        </div>
    </div>
</md-content>

</body>
</html>