<md-dialog ng-cloak style="width: 100%; max-width: 800px">
    <form>
        <md-toolbar style="background-color: grey">
        <div class="md-toolbar-tools">
            <img style="height: 100%" src="imgs/verisk_small.png">
            <h2>Ride-Along</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon md-font-set="md">close</md-icon>
            </md-button>
        </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Basic Info">
                    <md-content class="">
                        <div class="md-dialog-content">
                            <h1 class="md-display-2">{{rideAlong.name}}</h1>
                            <h3 ng-if="rideAlong.status=='UNAPPROVED'" style="color: #ffc520; margin:5px">PENDING APPROVAL</h3>
                            <h3 ng-if="rideAlong.status=='OPEN'" style="color: dodgerblue; margin:5px">OPEN</h3>
                            <h3 ng-if="rideAlong.status=='ACCEPTED'" style="color: forestgreen; margin:5px">ACCEPTED</h3>
                            <h3 ng-if="rideAlong.status=='CANCELLED'" style="color: red; margin:5px">CANCELLED</h3>
                            <md-list ng-cloak>
                                <md-subheader>Ride-Along Info</md-subheader>
                                <md-list-item>
                                    <md-button class="md-icon-button">
                                        <md-tooltip md-direction="top">
                                            Window the ride-along will be available through
                                        </md-tooltip>
                                        <md-icon md-font-set="md">date_range</md-icon>
                                    </md-button>
                                    <h3> {{rideAlong.startDate|longDate}} to {{rideAlong.endDate|longDate}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item>
                                    <md-button class="md-icon-button">
                                        <md-tooltip md-direction="top">
                                            Region the ride-along will be available in
                                        </md-tooltip>
                                        <md-icon md-font-set="md">place</md-icon>
                                    </md-button>
                                    <h3> {{rideAlong.county|regionToNormal}}, {{rideAlong.province|regionToNormal}} - {{rideAlong.region|regionToNormal}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item>
                                    <md-button class="md-icon-button">
                                        <md-tooltip md-direction="top">Date the ride along was created
                                        </md-tooltip>
                                        <md-icon md-font-set="md">create</md-icon>
                                    </md-button>
                                    <h3>Added on {{rideAlong.creationDate|longDateTime}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-subheader>Contact Information</md-subheader>
                                <md-list-item>
                                    <md-button class="md-icon-button">
                                        <md-tooltip md-direction="top">
                                            Employee Department
                                        </md-tooltip>
                                        <md-icon md-font-set="md">business</md-icon>
                                    </md-button>
                                    <h3>{{rideAlong.department}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item>
                                    <md-button class="md-icon-button">
                                        <md-tooltip md-direction="top">
                                            Employee Contact Email
                                        </md-tooltip>
                                        <md-icon md-font-set="md">email</md-icon>
                                    </md-button>
                                    <h3>{{rideAlong.email}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item>
                                    <md-button class="md-icon-button">
                                        <md-tooltip md-direction="top">
                                            Employee Contact Phone
                                        </md-tooltip>
                                        <md-icon md-font-set="md">phone</md-icon>
                                    </md-button>
                                    <h3>{{rideAlong.phone}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                            <br>
                        </div>
                    </md-content>

                </md-tab>
                <md-tab label="Notified">
                    <md-content>
                        <div class="md-dialog-content">
                            <h1 class="md-display-1">Notified Customers</h1>
                            <md-list ng-cloak>
                                <md-subheader>Emails</md-subheader>
                                <md-list-item ng-repeat="customer in rideAlong.notified">
                                    <h3>{{customer}}</h3>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Options">
                    <md-content>
                        <div class="md-dialog-content">
                            <h1 class="md-display-1">Options</h1>
                            <md-subheader>Ride Along Settings</md-subheader>
                            <md-list ng-cloak>
                                <md-list-item ng-click="changeStatus(selectedIndex, 'CANCELLED'); close()" class="secondary-button-padding" ng-if="rideAlong.status=='OPEN'">
                                    <h4>Cancel</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        cancel
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item ng-click="changeStatus(selectedIndex, 'OPEN'); close()" class="secondary-button-padding" ng-if="rideAlong.status=='CANCELLED'">
                                    <h4>Open</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        check
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item ng-click="reschedule(rideAlong)" class="secondary-button-padding">
                                    <h4>Reschedule</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        date_range
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item ng-click="" class="secondary-button-padding">
                                    <h4>Edit Info</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        mode_edit
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item ng-click="remove(selectedIndex, $event); close()" class="secondary-button-padding">
                                    <h4 style="color: red">Delete</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        delete_forever
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-subheader>Notification Options</md-subheader>
                                <md-list-item ng-click="reschedule(rideAlong)" class="secondary-button-padding">
                                    <h4>Resend Notifications</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        email
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                                <md-list-item ng-click="reschedule(rideAlong)" class="secondary-button-padding">
                                    <h4>Notify a Specific Company</h4>
                                    <md-icon class="md-secondary" md-font-set="md">
                                        add_circle
                                    </md-icon>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="close()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>