<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<md-content style="background-color: transparent">
    <div class="data-holder md-padding" style="height: 800px">
        <h1>Xactware Ride Along Scheduler</h1>
        <br>
        <md-subheader>About</md-subheader>
        <br>
        <p style="text-align: left">The purpose of this app is to create an efficient and easy method to schedule and manage ride-alongs, record feedback and event details for training managers, and help us build a better connection with our customers in order to continually improve our products.</p>
        <br>
        <md-subheader>How To</md-subheader>
        <br>
        <h4>Employees</h4>
        <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non imperdiet ligula. Vestibulum lacinia odio sit amet egestas aliquam. Suspendisse a egestas sem, eget finibus felis. Donec mollis, sem eget consectetur porta, sem felis tempus purus, ac tincidunt erat turpis nec est. Duis eros tellus, congue nec elit sit amet, auctor rutrum mauris. Donec vehicula justo lorem, vitae egestas orci mollis nec. Nam diam dolor, consectetur in vehicula vitae, ultricies vitae metus. Maecenas suscipit consequat lacus, vitae mattis sem cursus ac. Praesent sem libero, hendrerit eget iaculis vitae, molestie in turpis. Vestibulum et ornare lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum diam nisl, fringilla sed ornare eget, varius id sapien. Vivamus a felis dui. Vestibulum pharetra turpis accumsan sapien maximus, sit amet blandit lacus tempor.</p>
        <br>
        <h4>Admins</h4>
        <p style="text-align: left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut tempor quam, et efficitur lacus. Vestibulum interdum aliquam justo, et varius massa vestibulum sit amet. Maecenas vel erat ac dui ultrices tristique id nec purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida at ipsum eget consequat. Morbi rhoncus nec dolor sed vulputate. Aenean vel dolor erat. Fusce ac lacus lorem.</p>
        <br>
    </div>
</md-content>
</body>
</html>